/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for testing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
        pipeline test.
    Use as follows:
        nextflow run OrthoQuant -profile test,<docker/singularity> \
            --outdir <OUTDIR> [other_options]
--------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    meta_file  = 'https://raw.githubusercontent.com/adamd3/OrthoQuant/main/test_data/meta_merged.txt'
    gpa_file   = 'https://raw.githubusercontent.com/adamd3/OrthoQuant/main/test_data/gene_presence_absence.tsv'

}
